@import url('./theme.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  background-color: var(--bg-color);
  color: var(--primary-font-color);
}

#root {
  width: 400px;
  max-height: 600px;
  padding: 0 0 8px 0;
  overflow-y: auto;
}

.indexTitle {
  padding: 16px 0;
  text-align: center;
  background-color: var(--title-bg-color);
  color: var(--title-font-color);
}

#listMain {
  margin-top: 12px;
}

#listMain .itemBox {
  margin-bottom: 8px;
  padding: 4px 8px;
  display: flex;
}

#listMain .itemBox:hover {
  background-color: var(--section-hover-bg-color);
}

.videoLink {
  position: relative;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration-line: underline;
}

.videoLink:hover {
  color: var(--hover-color);
  cursor: pointer;
}

/* #listMain .itemBox .videoLink {
  margin-left: 8px;
  margin-bottom: 4px;
  color: #4f14ee;
  cursor: pointer;
  text-decoration-line: underline;
} */

.header {
  position: relative;
  display: flex;
  align-items: center;
}

.header:hover::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  transform: translateY(-100%);
  background-color: var(--tip-bg-color);
  color: var(--tip-font-color);
  border-radius: 4px;
  white-space: normal;
  z-index: 999;
}

#listMain .itemBox .itemBoxFooter {
  margin-left: 12px;
}

.itemBoxFooter div span {
  /* color: #f2bf4a; */
  color: var(--primary-color);
}

/* .itemBoxFooter div:nth-child(2) span {
  color: #e77a76;
  color: var(--primary-color);
}

.itemBoxFooter div:nth-child(3) span {
  color: #61cabc;
  color: var(--primary-color);
} */

.videoImg {
  width: 150px;
  max-height: 100px;
}

.emptyImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  background-color: var(--title-bg-color);
  color: var(--title-font-color);
  font-size: 2rem;
}

.emptyData {
  font-size: 18px;
  color: var(--primary-font-color);
  text-align: center;
}

.optionsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.options {
  display: flex;
  align-items: center;
}

.optionItem {
  margin-left: 12px;
  cursor: pointer;
}

.optionItem.activeOption {
  color: var(--primary-color);
}

/* 开关 */
.switch {
  margin-right: 12px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-color);
  transition: 0.4s;
  border-radius: 34px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  padding-right: 0;
  font-weight: 700;
  color: #fff;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

.switchInput:checked + .slider {
  padding-left: 0;
  padding-right: 12px;
  background-color: var(--primary-color);
}

.switchInput:checked + .slider:before {
  transform: translateX(36px);
}
