@import url("./theme.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  background-color: var(--bg-color);
  color: var(--primary-font-color);
}

#root {
  width: 400px;
  max-height: 600px;
  padding: 0 0 8px 0;
  overflow-y: auto;
}

.indexTitle {
  padding: 16px 0;
  text-align: center;
  background-color: var(--title-bg-color);
  color: var(--title-font-color);
}

#listMain {
  margin-top: 12px;
}

#listMain .itemBox {
  margin-bottom: 8px;
  padding: 4px 8px;
  display: flex;
}

#listMain .itemBox:hover {
  background-color: #eee;
}

.videoLink {
  position: relative;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration-line: underline;
}

.videoLink:hover {
  color: var(--hover-color);
  cursor: pointer;
}

/* #listMain .itemBox .videoLink {
  margin-left: 8px;
  margin-bottom: 4px;
  color: #4f14ee;
  cursor: pointer;
  text-decoration-line: underline;
} */

.header {
  position: relative;
  display: flex;
  align-items: center;
}

.header:hover::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  transform: translateY(-100%);
  background-color: var(--tip-bg-color);
  color: var(--tip-font-color);
  border-radius: 4px;
  white-space: normal;
  z-index: 999;
}

#listMain .itemBox .itemBoxFooter {
  margin-left: 12px;
}

.itemBoxFooter div span {
  /* color: #f2bf4a; */
  color: var(--primary-color);
}

/* .itemBoxFooter div:nth-child(2) span {
  color: #e77a76;
  color: var(--primary-color);
}

.itemBoxFooter div:nth-child(3) span {
  color: #61cabc;
  color: var(--primary-color);
} */

.videoImg {
  width: 150px;
  max-height: 100px;
}

.emptyData {
  font-size: 18px;
  color: var(--primary-font-color);
  text-align: center;
}
